input, textarea{
  display: block;
  width: 100%;
  margin: 1em;
  padding: .5em;
  font-family: $mainFont;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
[type="submit"]{
  max-widows: 300px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  margin: auto;
  padding: .8em 2em;
  outline: 0;
  border: 0;
  background-color: $orange;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: $defaultEase;
  &:hover{
    opacity:1;
  }
}

label{
  font-size: 13px;
  color: $grayText;
}