.wrapper{
  margin: auto;
  padding: 2em;
}

.container{
  width: 50%;
  padding: 1.5em 3em;

  h3,h1,h2,h4,h5{
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid lighten($grayText, 60%);
    margin: 0 auto .2em;
    padding-bottom: .25em;
    width: 100%;
  }
  p{
    font-size: .8em;
    margin: 0;
  }
}

.anchor{
  height: 60px;
  display: block;
  position: relative;
}


footer{
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .7em .5em;
  color: $grayText;
  font-size: 13px;
  opacity: 0.8;
}



@media screen and (max-width: 768px) {
  .wrapper, .container{
    padding: 2em 1em;
    width: 100%;
  }
}