.wrapper{
  margin: auto;
}

section, .section{
  width: 100%;
  padding: 2em 0 2em;
  &.gray-bg{
    padding: 4em 0;
    background-color: #d5d5d5;
    /*&:nth-child(odd){
      background-color: #fff;
    }*/
  }
}
.container{
  width: 60%;
  margin: auto;
  .row{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    .col{
      padding: 1em;
      &-1{
        width: 100%;
      }
      &-2{
        width: 50%
      }
      &-3{
        width: (100%/3)
      }
    }

  }

  h3,h1,h2,h4,h5{
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid lighten($grayText, 60%);
    margin: 0 auto .2em;
    padding-bottom: .25em;
    width: 100%;
  }
  p, li{
    font-size: .8em;
    margin: 0;
    color: #000 !important;
    text-decoration: none !important;

  }
  li{
    margin-left: 1em;
    font-weight: 100 !important;
  }
}
strong{
  font-weight: bold !important;
}

p, li{
  color: #000 !important;
  text-decoration: none !important;
}

.row{
  display: inline-block;
}

.anchor{
  height: 60px;
  display: block;
  position: relative;
}


footer{
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .7em .5em;
  color: $grayText;
  font-size: 13px;
  opacity: 0.8;
}



@media screen and (max-width: 768px) {
  .wrapper{
    padding-top: 2em;
    width: 100%;
  }
  .section, section{
    padding: 1em 0;
  }
  .container{
    width: 100%;
    padding: 1em;
    .row{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      .col{
        padding: 1em 0em;
        &-1{
          width: 100%;
        }
        &-2{
          width: 100%
        }
        &-3{
          width: 100%
        }
      }

    }
  }
}
