.arrowSlider{
  width: 40px;
  height: 50px;
  background-color: transparent;
  font-size: 0;
}

.projectCarousel{
  text-align: center;
  padding: 5em 0;
  img{
    max-height: 200px;
    text-align: center;
    max-width:100%;
  }
}

.tns-controls{
  z-index: 99;
  height: 100%;
  width: 100%;
  button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0px;
    border: 0px solid white;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    opacity: 0.6;
    transition: $defaultEase;
    @extend .arrowSlider;
    &[data-controls="prev"]{
      left: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-right: 15px solid $orange;
    }
    &[data-controls="next"]{
      right: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 15px solid $orange;
    }
    &:hover{
      opacity: 1;
    }
  }
}

.tns-outer{
  margin: 1em 0;
}

@media screen and (max-width: 768px) {
}